.imagem-redirecionada {
    max-width: 100%;
    /* Define a largura máxima da imagem para ocupar o espaço disponível */
    height: 400px;
    /* Mantém a proporção da imagem */
    display: flex;

    margin: 0 auto;
    /* Centraliza a imagem horizontalmente */
    margin-top: 5%;
}

body {
    background-color: black;
}