.imagem-redirecionada {
    max-width: 70%;
    /* Define a largura máxima da imagem para ocupar o espaço disponível */
    height: auto;
    /* Mantém a proporção da imagem */
    display: block;
    /* Faz com que a imagem seja exibida como um bloco */
    margin: 0 auto;
    /* Centraliza a imagem horizontalmente */
    margin-top: 5%;
}

body {
    background-color: black;
}