*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color:whitesmoke;
    background: url(jpg/bm2.0.webp);
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    color: white;
    font-size: 40px;
    margin-top: 2%;
    margin-bottom: 50px;
    text-align: center;
    
    
}
#aventador{
        margin: 5%;
        text-align: center;
    
}
#anoDaFabricacao{
    margin: 1%;
}

#caracteristicas{
    margin: 1%;
    text-align: center;
    padding-top: 0;
    margin-top: 1%;
    border-radius: 100px;
}

#Cor{
    margin: 0%;
    padding: 10px;
    border-radius: 10px;
}

    

#potencia{
    margin: 1%;
    padding: 10px;
    border-radius: 10px;
}
#Modelo{
    margin: 0%;
    padding: 10px;
    border-radius: 10px;
}
#anoDaFabricacao{
    
    padding: 20px;
    border-radius: 20px;
}
#Ano{
    color: rgb(0, 0, 0);
    margin-left: 0%;
    padding: 10px;
    border-radius: 10px;
}
    
#Ano.select-Ano{
    margin-right: 5%;
    padding: 10px;
}
#Cor.select-Cor{
    margin-right: 5%;
    padding: 10px;
}

#aventador{
    margin: 0%;
    padding: 0%;
    margin-top: 25px;

}
#botaoConfirmar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 2%;
background-repeat: no-repeat;
    padding-top: 13px;
    margin-bottom: 30px;
    border-radius: 90px;
    padding: 10px;
    margin-left: 600px;
    justify-content: center;
}
form{
    margin: 0%;
    margin-left: 0%;
}
#aviso{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: red;
    display: none;
    border: 10px;
}
#imagemDeFundo{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.selecionar{
    color: white;
}